<div class="section">
<div class="row register-panel">
  <div class="col s12 m2 l4"></div>
  <div class="col s12 m8 l4">




      <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel hoverable">
          <form class="login-form">
            <div class="row">
              <div class="input-field col s12 center-align">
                <h4>Register</h4>
                <p class="center">Join to our community now !</p>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="material-icons  prefix"> person_outline</i>
                <input id="username" type="text">
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="material-icons prefix">email_outline</i>
                <input id="email" type="email">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password" type="password">
                <label for="password" class="">Password</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password-again" type="password">
                <label for="password-again" class="">Password again</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <a class="btn waves-effect waves-light col s12" href=<%= admin_activity_path%> >Register Now</a>
              </div>
              <div class="input-field col s12">
                <p class="margin center medium-small sign-up">Already have an account? <a href=<%= admin_index_path %>>Login</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>




  </div>
  <div class="col s12 m2 l4"></div>
</div>
</div>