

<div class="slider">
  <ul class="slides">
    <li>
      <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>


<nav class="navbar">
  <div class="nav-wrapper ">
    <a href="#!" class="brand-logo"><i class="material-icons">fullscreen</i>Web&MobileDevelopment</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">HOME</a></li>
      <li><a href="badges.html">SERVICE</a></li>
      <li><a href="sass.html">ABOUT US</a></li>
      <li><a href="badges.html">PORTFOLIO</a></li>
      <li><a href="sass.html">TEAM</a></li>
      <li><a href="badges.html">BLOG</a></li>
      <li><a href="badges.html">CONTACT</a></li>
      <li><a href="badges.html">SIGNUP</a></li>
      <!-- Dropdown Trigger -->


    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">HOME</a></li>
      <li><a href="badges.html">SERVICE</a></li>
      <li><a href="sass.html">ABOUT US</a></li>
      <li><a href="badges.html">PORTFOLIO</a></li>
      <li><a href="sass.html">TEAM</a></li>
      <li><a href="badges.html">BLOG</a></li>
      <li><a href="badges.html">CONTACT</a></li>
      <li><a href="badges.html">SIGNUP</a></li>
    </ul>


  </div>
</nav>


<div class="row">
  <div class="col s12 m4">
    <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
    </div>
  </div>
</div>

<!--about us-->
<div class="section">

  <div class="row">


    <div class="col s12 m12 l12 ">
      <div class="card-panel hoverable">

        <div class="row">

        <div class="col s12 m12 l12">
          <span class="blue-text">
          Gabri Doga -CEO of Populace, Inc. a mobile and technology company located in the Romania, Iasi.
          With more then 4 years of mobile and web development experience, we have developed over 50 apps, all available in the App Store and website.
          In addition to these publicly available apps we have developed for last years.
          Also getting great feedbacks while assisting startups and entrepreneurs in turning ideas into apps, suggesting easy and stable solutions based on my large experience and leading the preliminary process prior to the actual development.
          I've been working on iOS/Android projects for the last seven years, using almost any related technology: Maps, Web Services, Parse.com, Push Notifications, Core Data/SQLite databases, regular expressions, Augmented Reality, barcodes handling, etc.
          Also, during the last five years I've started managing large mobile projects, acting as analyst/architect and leading teams of developers.
          This mean is android , ios , phoneGap , web deveopment by using Ruby on rails.
          I speak fluent English, Spanish for my clients.
          My available is anytime and anyware.
          I hope to going as well with you on Upwork.
          </span>
        </div>


        </div>

      </div>
    </div>

  </div>

</div>

<!--port folio-->

<div class="section">
  <div class="video-container">
    <iframe width="853" height="480" src="//www.youtube.com/embed/1_bVyR12afA" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="row">

    <div class="col s12 m6 l4">
      <div class="card z-depth-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://materializecss.com/images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card z-depth-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://materializecss.com/images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card z-depth-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://materializecss.com/images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

  </div>

</div>


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About US</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">More details</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">face book</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">linked in</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright Gabri Doga
      <a class="grey-text text-lighten-4 right" href="#!">www.gabridoga.com</a>
    </div>
  </div>
</footer>