/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
//container settings
//.container{
//  margin-top: 30px;
//}
//side nav bar
.navbar-fixed{
  z-index: 2000;
}
.side-nav .userView{
  margin-top: 50px;
  padding: 40px 0px 0px 20px;
  height: 140px;
}
#dropdown3{
  margin: 0;
  display: none;
  min-width: 130px;
  max-height: 450px;
  //overflow-y: auto;
  //opacity: 0;
  //position: absolute;
  //z-index: 999;
  //will-change: width, height;

}
.brand-logo{
  padding-left: 30px !important;
}
.circle{

  padding: 5px 5px 5px 5px !important;

}

// login panel
#login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px !important;
  margin-bottom: 20px;


}

//register panel
.register-panel{
  padding-top: 20px !important;
}




